<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--<connectionStrings>
    <add name="LibCollectionSQL" connectionString="Server=localhost\SqlExpress;Database=LibCollection;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <connectionStrings>
    <add name="LibCollectionOracle"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORCL)));User Id=keshav;Password=password;"
    providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="LibCollectionOracleCenCol"
    connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle1.centennialcollege.ca)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=SQLD)));User Id=COMP214F17_002_P_25;Password=password;"
    providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>